*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  overflow: hidden;
  background: rgb(217,219,212);
  background: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%); 
}

img{
  width: 60px;
  height: 60px;
  margin: 0 15px;
  border-radius: 50%;
}

li{
  cursor: pointer;
}

li:active{
  background-color: lightgrey;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

main{
  display: flex;
  width: 85%;
  height: 1000px;
  border: 1px solid lightgray;
}

aside{
  background-color: white;
  width: 30%;
}

.last-login, .user{
  display: flex;
  justify-content: space-between;
  height: 90px;
  border: 1px solid lightgray;
  background-color: white;
}

.user .info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 15px;
  color:lightgray;
}

.icon i{
  margin: 0 14px;
  cursor: pointer;
}

.notifications{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  background-color: skyblue;
}

.notifications i{
  margin-left: 20px;
  padding: 20px 18px;
  border-radius: 50%;
  color:skyblue;
  background-color: rgba(255, 255, 255, 0.9);
}

.text-notifications{
  margin: 0 20px;
}

.notifications .text-notifications span:last-child{
  cursor: pointer;
  text-decoration: underline;
  color: gray;
}

.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: whitesmoke;

}

.searchbar button{
  border-style: none;
  height: 46px;
  width: 15%;
  border: 1px solid whitesmoke;
  border-right: white;
  cursor: pointer;
  color:gray;
  background-color: white;
}

.searchbar input{
  width: 80%;
  height: 80%;
  outline:none;
  padding: 10px;
  border: 1px solid whitesmoke;
}

.contacts{
  width: 100%;
}

.contacts li{
  display: flex;
  height: 80px;
  margin: 8px 0;
  border-bottom: 1px solid lightgray;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  margin: 5px;
  width: 100%;
}

.info .content{
  display: flex;
  justify-content: space-between;
}

.info span:first-child{
  font-size: 18px;
}

.info span:last-child{
  font-size: 14px;
  color: gray;
}

.section{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  overflow:auto;
  background-image: url('../img/mine.jpg');
}

.last-login{
  display: flex;
  justify-content: space-between;
}

.container-message{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message{
  width: 350px;
  border-radius: 10px;
  padding: 14px;
  margin: 8px 0;
}

.message.send{
  margin-left: 870px;
  background-color:#D5F9BA;

}

.message.received{
  margin-left: 20px;
  background-color: white;
}

.date{
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.input-area i{
  margin: 0 42px;
  font-size: 24px;
  color: gray;
  cursor: pointer;
}

.input-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 1px solid lightgrey;
  background-color: whitesmoke;
}

.input-area input{
  width: 90%;
  height: 80%;
  outline:none;
  border-style:none;
  border-radius: 5px;
  padding: 15px;
}