<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="assets/css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>Boolzapp</title>

</head>

<body>

<div id="app">

  <div class="container">

    <main>

      <aside>

        <div class="user">

          <div class="user-info">
            <img src="assets/img/avatar_io.jpg">
            <span>Sofia</span>
          </div>

          <div class="icon">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          
        </div>

        <div class="notifications">

          <i class="fa-solid fa-bell-slash"></i> 

          <div class="text-notifications">

            <span>Ricevi notifiche di nuovi messaggi</span> <br>
            <span>Attiva notifiche desktop</span>

          </div>

        </div>

        <div class="searchbar">

          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>

          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>

        <div class="contacts">

          <ul>

            <li v-for="(contact, index) in contacts " @click="clicked(index)">

              <img :src="contact.photo">

              <div class="info">

                <div class="content">

                  <span>{{contact.name}}</span>

                  <div class="date">{{contact.messages[contact.messages.length -1].date}}</div>

                </div>

                <span>{{contact.messages[contact.messages.length-1].message}}</span>

              </div>

            </li>

          </ul>

          
        </div>

      </aside>

      <div class="section">

        <div class="last-login">

          <div class="contact">

            <img :src="contacts[counter].photo">

            <div class="info">

              <span>{{contacts[counter].name}}</span> <br>
              
              <span>Ultimo accesso alle 12:00</span>
              
            </div>

          </div>

          <div class="icon">

            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>

          </div>

        </div>

        <div class="container-message">

          <div class="message" v-for="message in (contacts[counter].messages)" :class="message.status">
            <span>{{message.message}}</span>
            <span class="date">{{message.hour}}</span>
        </div>

        <div class="input-area">

          <i class="fa-regular fa-face-smile"></i>

          <input @keyup.enter="newMessage()" v-model.trim="myMessage" type="text" placeholder="Scrivi un messaggio">

          <i class="fa-solid fa-microphone"></i>

        </div>

      </div>

    </main>

  </div>

</div>

  <script src="assets/js/script.js"></script>

</body>

</html>